<template name="login">
    <div>
        <label class="control-label">
            username
        </label>
        <div class="input-icon">
            <input class="form-control" type="text" autocomplete="off" placeholder="username"
                   name="username" id="userName_content"/>
        </div>
        <label class="control-label">password</label>
        <div class="input-icon">
            <input class="form-control" type="password" autocomplete="off"
                   placeholder="password" name="password" id="pwd_content"/>
            <button class="btn" id="login">
                login
            </button>
        </div>

    </div>
</template>