<template name="register">
    <div>
        <label class="control-label">
            username
        </label>
        <div class="input-icon">
            <input class="form-control" type="text" autocomplete="off" placeholder="username" name="username"
                id="username_content" />
        </div>
        <label class="control-label">password</label>
        <div class="input-icon">
            <input class="form-control" type="password" autocomplete="off" placeholder="password" name="password"
                id="pwd_content" />

        </div>
        <label class="control-label">
            email
        </label>
        <div class="input-icon">
            <input class="form-control" type="text" autocomplete="off" placeholder="email" name="email"
                id="email_content" />
                <button class="btn" id="cancel">
                    cancel
                </button>
                <button class="btn" id="register">
                    register
                </button>
        </div>

    </div>
</template>