<template name="addTable">
    <div>
        <label class="control-label">
            table number
        </label>
        <div class="input-icon">
            <input class="form-control" type="text" autocomplete="off" name="table number"
                id="tableNumber_content" />
        </div>
        <label class="control-label">description</label>
        <div class="input-icon">
            <input class="form-control" type="text" autocomplete="off" name="description"
                id="description_content" />

        </div>
        <label class="control-label">
            table size
        </label>
        <div class="input-icon">
            <input class="form-control" type="text" autocomplete="off"  name="table size"
                id="tableSize_content" />
                <button class="btn" id="cancel">
                    cancel
                </button>
                <button class="btn" id="addTable">
                    add table
                </button>
        </div>

    </div>
</template>