<template name="table">
    <div class="tableList">
        <table>
            <thead>
            <tr>
                <th scope="col">table number</th>
                <th scope="col">description</th>
                <th scope="col">table size</th>
                <th scope="col">status</th>
            </tr>
            </thead>
            {{#if table.length}}
                {{#each table}}
                    <tbody>
                    <tr>
                        <td>{{this.tableNumber}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.size}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <button class="disableTable" name="disableTable" style="float: right">disable</button>
                        </td>
                        <td>
                            <button class="enableTable" name="enableTable" style="float: right">enable</button>
                        </td>
                    </tr>
                    </tbody>
                {{/each}}
            {{else}}
                <tbody>
                <tr>
                    <td colspan="14" class="text-center">no data!</td>
                </tr>
                </tbody>
            {{/if}}
        </table>
    </div>
    <button class="btn btn-warning" type="button" id="btnBack"
    >Back
    </button>
    <button class="btn btn-success" type="button" id="btnAddTable"
    >add table
    </button>
</template>